/* Big tablet to 1200px (which smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
}

/* Small tablet to Big tablet: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
}

/* Small phones to Small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {

    	/* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { 
		border: 1px solid #ccc;
		margin-bottom: 5px;
	}
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 25%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 20%;
		left: 9px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }

    .modal-container {
        width: 80vw;
        padding: 20px 20px;
    }

    .modal-body label {
        font-size: 1.6rem;
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {


    .modal-container {
        width: 95vw;
        padding: 20px 3px;
    }
    .modal-body label {
        font-size: 1.4rem;
    }
}
